/* Mengimpor arahan dasar Tailwind CSS */
@tailwind base;

/* Mengimpor komponen Tailwind CSS yang sudah ditentukan */
@tailwind components;

/* Mengimpor utilitas Tailwind CSS */
@tailwind utilities;

/* Mengimpor font Inter dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

/* Menerapkan font Inter ke seluruh body dokumen */
body {
    font-family: 'Inter', sans-serif;
}

/* Gaya dasar untuk elemen HTML */
html, body, #root {
    height: 100%; /* Memastikan elemen mengisi tinggi viewport */
    margin: 0; /* Menghapus margin default browser */
    padding: 0; /* Menghapus padding default browser */
}

/* Gaya untuk memastikan elemen utama aplikasi menempati tinggi penuh */
.min-h-screen {
    min-height: 100vh; /* Memastikan tinggi minimum adalah 100% dari tinggi viewport */
}
